<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415614821921-jh5oghmkfguf3g0l30ndn6ls9t27i8fm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415614821921-jh5oghmkfguf3g0l30ndn6ls9t27i8fm</string>
	<key>API_KEY</key>
	<string>AIzaSyBAcGpr_AoCuSDA62tZih-z8iRifyi84YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>415614821921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stickman.ragdoll.happy.wheel</string>
	<key>PROJECT_ID</key>
	<string>mr-stick-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>mr-stick-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415614821921:ios:a9bbbee29699034d9d2560</string>
	<key>DATABASE_URL</key>
	<string>https://mr-stick-ios.firebaseio.com</string>
</dict>
</plist>